#bg
  %img{class: 'background', src: '/images/space.jpg', style: 'display:none;' }
.over-video
  .navbar
    .navbar-inner
      .container
        %a.brand{'data-page' => 'home'} Ryder Moody
        %ul.pull-right.nav
          - @projects.each do |page, info|
            %li
              %a{'data-page' => page} #{info[:name]}
          %li
            %a{href: 'http://www.github.com/rymo4'} Github

  .container.main-start
    .row-fluid
      .well.span10.offset1
        .row-fluid.page#home
          :markdown
            # Hey!

            I'm Ryder. I write programs, mostly that run on the web. I'll tell you a little bit about myself.

            Right now I'm majoring in CS at Columbia, working for [Paperless Post](http://www.paperlesspost.com), and bootstrapping a startup with some friends in [IE@Columbia](http://www8.gsb.columbia.edu/innovation/iehome), a selective Columbia accelerator program. Click the links up above for more info. The code for this site can be found [here](http://github.com/rymo4/portfolio).

            ### These Are A Few Of My Favorite Things

            * Ruby & Rails
            * CoffeeScript
            * MongoDB, Postgres & Redis
            * Vim
            * HAML
            * d3, Underscore & Angular

            ### Contact Me

            If you want to get a hold of me, shoot me an email at [rlm2155@columbia.edu](mailto:rlm2155@columbia.edu).

        - @projects.each do |page, info|
          .page.hide{id: page}
            .row-fluid
              %ul.links
                %li
                  %h2 #{info[:name]}
                - if info[:gh]
                  %li
                    %a{href: github(info) } Github
                #{', ' if info[:gh] and info[:url]}
                - if info[:url]
                  %li
                    %a{href: info[:url]} URL
            .row-fluid
              = partial "_#{page}"
